.gal{
    /* color:#ccc; */
    width: 900px;
    display: flex;
    overflow-x: scroll;
    /* padding: 10%; */
    padding-top: 5%;
    /* width: 50px; */
  }
  .gal div{
    width: 100%;
    /* height: 200px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
    border-radius: 20px;
  }
  .gal div img{
    width: 10%;
    filter: grayscale(100%);
    transition: transform 0.5s;
    border-radius: 20px;
    float: left;
  }
  .gal div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
  }
  .gal::-webkit-scrollbar{
    display: none;
  }
  .gal-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }
  body{
    background-color: black;
  }
  #names1{
    color: white;
    /* float: left; */
    /* padding-top: 250px; */
        
    }
    #g1{
      border-radius: 300px;
        width: 200px;
        height: 200px;
  }
  #p{
    /* background-color: black;
    padding: 4px; */
    border: none; 
    background-color: transparent;
    font-weight: bolder;
    font-size: xx-large;
    color: whitesmoke;
    /* font-family: ;  */
    width: 100%;
        height: 200px;
        /* width: 100px; */
        /* padding-top: 1; */
        float: left;
    }
  .tutor-name{
    color: aliceblue;
    /* padding: 100%; */
    /* width: 100%; */
    float: left;

  }
 
.part2{
  margin-left: 50px;
}
.background{
  background-image: url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}